*.jpg

# Исключаем все файлы с расширением .docx
*.docx

# Исключаем все файлы с расширением .pptx
*.pptx

# Исключаем папку "Схемы" и все ее содержимое
Схемы/

# Исключаем все файлы с расширением .html
*.html